{% extends "article/base.html" %}

{% load article_tags %}

{% block title %}Articles{% endblock title %}

{% block content %}
  <h1>Articles</h1>
  <ul>
    {% for article in object_list %}
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
  <div class="clearfix">
    {% if page_obj.has_previous %}
    <a class="pull-left" href="?page={{ page_obj.previous_page_number }}">Newer Entries</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class="pull-right" href="?page={{ page_obj.next_page_number }}">Older Entries</a>
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}
